html, body {
  height: 100%;
}

#sidebar {
  height: 100%;
  min-height: 100vh;
  min-width: 100px;
}

.btn {
  border-radius: 2px;
  color: #fafafa;
  font-size: 14px;
  background-color: cornflowerblue;
  margin-top: 10px;
}